<div fxLayout="row" fxLayoutGap="48px" fxLayoutAlign="center top">

    <mat-card class="mat-elevation-z20" style="width: 200px; padding: 36px">
        <h2 fxLayoutAlign="center" style="margin-bottom: 36px;">Sollarbeitszeit</h2>

        <div fxLayout="row"
             fxLayoutAlign="center" style="margin: 16px 0;">
            <mat-form-field>
                <input matInput
                       type="time"
                       (input)="handleUserInputKeyPress()"
                       [(ngModel)]="einstempelzeitFromInput"
                       style="font-size: 1.4em"
                       placeholder="Eingestempelt um">
            </mat-form-field>
        </div>

        <div *ngIf="isSollarbeitszeitBerechnet"
             fxLayoutAlign="center center"
             fxLayout="column">
            <div fxLayout="row">
                <div fxLayout="column">
                    <label fxLayoutAlign="center">6h erreicht:</label>
                    <label fxLayoutAlign="center"
                           class="mat-h2">{{ sixHourWorkingLabel }}</label>
                </div>
            </div>
            <div fxLayout="row">
                <div fxLayout="column">
                    <label fxLayoutAlign="center">7h36m erreicht:</label>
                    <label fxLayoutAlign="center"
                           class="mat-h2">{{ regelArbeitszeitLabel }}</label>
                </div>
            </div>
            <div fxLayout="row">
                <div fxLayout="column">
                    <label fxLayoutAlign="center">8h erreicht:</label>
                    <label fxLayoutAlign="center"class="mat-h2">
                        {{ eightHourWorkingLabel }}
                    </label>
                </div>
            </div>
            <div fxLayout="row">
                <div fxLayout="column">
                    <label fxLayoutAlign="center">10h erreicht:</label>
                    <label fxLayoutAlign="center"
                           class="mat-h2"
                           style="color: #F00; margin-bottom: 0">
                        {{ tenHourLabel }}
                    </label>
                </div>
            </div>
        </div>
    </mat-card>

    <mat-card class="mat-elevation-z20" style="width: 200px; padding: 36px">
        <h2 fxLayoutAlign="center" style="margin-bottom: 36px;">Nettoarbeitszeit</h2>

        <div fxLayout="row"
             fxLayoutAlign="center">
            <mat-form-field>
                <input matInput
                       type="time"
                       (input)="handleUserInputKeyPress()"
                       [(ngModel)]="einstempelzeitFromInput"
                       style="font-size: 1.4em"
                       placeholder="Eingestempelt um">
            </mat-form-field>
        </div>
        <div fxLayout="row"
             fxLayoutAlign="center">
            <mat-form-field>
                <input matInput
                       type="time"
                       (input)="handleUserInputKeyPress()"
                       [(ngModel)]="ausstempelzeitFromInput"
                       [disabled]="isJetztOptionActivated"
                       style="font-size: 1.4em"
                       placeholder="Ausgestempelt um">
            </mat-form-field>
        </div>
        <div fxLayout="row"
             fxLayoutAlign="center"
             style="top: -12px; position: relative">
            <mat-checkbox [(ngModel)]="isJetztOptionActivated" (click)="handleJetztOption()">Jetzt?</mat-checkbox>
        </div>

        <div fxLayout="row" *ngIf="isNettoArbeitszeitBerechnet" fxLayoutAlign="center center" style="margin-top: 16px">
            <div fxLayout="column">
                <label fxLayoutAlign="center">Nettoarbeitszeit:</label>
                <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="6px">
                    <label fxLayoutAlign="center"
                           class="mat-h2">{{ nettoArbeitszeitLabel }}</label>
                    <mat-icon style="padding-top: 4px; color: red; font-size: 1.4em"
                              *ngIf="showHelpForZeroNettoarbeitszeit"
                              matTooltip="{{ NETTOARBEITSZEIT_LESS_THAN_45_MINUTES_TOOLTIP }}">
                        help_outline
                    </mat-icon>
                </div>
            </div>
        </div>
    </mat-card>

</div>
