<!--    Global Shortcuts -->
<div (window:keydown.s)="openSettingsDialog(false)"></div>
<div (window:keydown.e)="jetztEinstempeln()" *ngIf="!isEinstempelverhaltenAutomatic()"></div>
<div (window:keydown.w)="toggleWasWareWenn()"></div>

<div class="row gap-48px center-horizontal mat-typography">
    <!--    Sollarbeitszeit -->
    <mat-card class="mat-elevation-z20" style="width: 265px; padding: 36px">
        <h2 class="center-horizontal" style="margin-bottom: 36px;">Sollarbeitszeit</h2>

        <div class="center-horizontal row">
            <mat-form-field style=" max-width: 144px">
                <mat-label>Eingestempelt um</mat-label>
                <input matInput
                       type="time"
                       autocomplete="off"
                       (input)="handleUserInputKeyPress()"
                       [(ngModel)]="einstempelzeitInput"
                       style="font-size: 1.1em;">
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="jetztEinstempeln()"
                    [disabled]="isEinstempelverhaltenAutomatic()"
                    matTooltip="{{ JETZT_EINSTEMPELN_TOOLTIP }}"
                    style="min-width: 30px; max-height: 42px; padding: 2px; margin-top: 8px; margin-left: 8px">
                <mat-icon class="center-icon-in-mat-icon">login</mat-icon>
            </button>
        </div>


        <div *ngIf="areSollarbeitszeitenBerechnet"
             class="center-horizontal center-vertical column">
            <div class="row">
                <div class="column">
                    <label class="center-horizontal">6h erreicht:</label>
                    <label class="center-horizontal mat-h2">{{ sixHourWorkingLabel }}</label>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label class="center-horizontal">
                        <span style="margin-right: 4px">{{regelarbeitszeitNetto.getHours()}}h</span>
                        <span *ngIf="regelarbeitszeitNetto.getMinutes() !== 0"
                              style="margin-right: 4px">
                            {{regelarbeitszeitNetto.getMinutes()}}m
                        </span>
                        <span>erreicht:</span>
                    </label>
                    <label class="center-horizontal mat-h2">{{ regelarbeitszeitLabel }}</label>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label class="center-horizontal">8h erreicht:</label>
                    <label class="center-horizontal mat-h2">
                        {{ eightHourWorkingLabel }}
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label class="center-horizontal">10h erreicht:</label>
                    <label class="center-horizontal mat-h2"
                           style="color: #F00; margin-bottom: 0">
                        {{ tenHourWorkingLabel }}
                    </label>
                </div>
            </div>
        </div>
    </mat-card>

    <!--    Nettoarbeitszeit -->
    <mat-card class="mat-elevation-z20" style="width: 265px; padding: 36px">
        <h2 class="center-horizontal" style="margin-bottom: 36px;">Nettoarbeitszeit</h2>

        <div class="row center-horizontal">
            <mat-form-field>
                <mat-label>Eingestempelt um</mat-label>
                <input matInput
                       type="time"
                       autocomplete="off"
                       (input)="handleUserInputKeyPress()"
                       [(ngModel)]="einstempelzeitInput"
                       style="font-size: 1.1em">
            </mat-form-field>
        </div>
        <div class="row center-horizontal">
            <mat-form-field>
                <mat-label>Ausgestempelt um</mat-label>
                <input matInput
                       type="time"
                       autocomplete="off"
                       (input)="handleUserInputKeyPress()"
                       [(ngModel)]="ausstempelzeitInput"
                       [disabled]="isJetztOptionActivated"
                       style="font-size: 1.1em">
            </mat-form-field>
        </div>
        <div class="row center-horizontal"
             style="top: -12px; position: relative">
            <mat-checkbox [(ngModel)]="isJetztOptionActivated"
                          (click)="handleJetztOption()"
                          (keydown.space)="handleJetztOption()">
                Jetzt?
            </mat-checkbox>
        </div>

        <div class="column center-horizontal center-vertical" *ngIf="isNettoArbeitszeitBerechnet"
             style="margin-top: 16px">
            <div class="column">
                <label class="center-horizontal">Nettoarbeitszeit:</label>
                <div class="row center-horizontal gap-6px">
                    <label class="center-horizontal mat-h2">{{ nettoArbeitszeitLabel }}</label>
                </div>
            </div>

            <div class="column">
                <label class="center-horizontal">Gleitzeit-Tendenz:</label>
                <div class="row center-horizontal gap-6px">
                    <label class="center-horizontal mat-h2" style="left: -8px; position: relative">
                        {{ tendenz.richtung }} {{ tendenzLabel }}
                    </label>
                </div>
            </div>
        </div>
    </mat-card>

    <!--    WWW-Rechner -->
    <mat-card class="mat-elevation-z20" style="width: 265px; padding: 36px" *ngIf="isWasWaereWennActivated">
        <h2 class="center-horizontal" style="margin-bottom: 36px;">Was wäre wenn?</h2>

        <div class="row center-horizontal">
            <mat-form-field>
                <mat-label>Eingestempelt um</mat-label>
                <input matInput
                       type="time"
                       autocomplete="off"
                       (input)="handleUserInputKeyPress()"
                       [(ngModel)]="wasWaereWennEinstempelzeitFromInput"
                       style="font-size: 1.1em">
            </mat-form-field>
        </div>
        <div class="row center-horizontal">
            <mat-form-field>
                <mat-label>Ausgestempelt um</mat-label>
                <input matInput
                       type="time"
                       autocomplete="off"
                       (input)="handleUserInputKeyPress()"
                       [(ngModel)]="wasWaereWennAusstempelzeitFromInput"
                       style="font-size: 1.1em">
            </mat-form-field>
        </div>
        <div class="row center-horizontal">
            <mat-form-field>
                <mat-label>Pausenlänge (in Min.)</mat-label>
                <input matInput
                       type="number"
                       autocomplete="off"
                       (input)="handleUserInputKeyPress()"
                       [(ngModel)]="wasWaereWennPausenzeitFromInput"
                       style="font-size: 1.1em">
            </mat-form-field>
        </div>

        <div class="column center-horizontal center-vertical" *ngIf="isWasWaereWennNettoArbeitszeitBerechnet"
             style="margin-top: 16px">
            <div class="column">
                <label class="center-horizontal">Nettoarbeitszeit:</label>
                <div class="row center-horizontal gap-6px">
                    <label class="center-horizontal mat-h2">{{ wasWaereWennNettoArbeitszeitLabel }}</label>
                    <mat-icon style="padding-top: 4px; color: red; font-size: 1.4em"
                              *ngIf="wasWaereWennShowHelpForZeroNettoarbeitszeit"
                              matTooltip="{{ NETTOARBEITSZEIT_LESS_THAN_LENGTH_OF_PAUSE_TOOLTIP }}">
                        help_outline
                    </mat-icon>
                </div>
            </div>

            <div class="column">
                <label class="center-horizontal">Gleitzeit-Tendenz:</label>
                <div class="row center-horizontal gap-6px">
                    <label class="center-horizontal mat-h2" style="left: -8px; position: relative">
                        {{ wasWaereWennTendenz.richtung }} {{ wasWaereWennTendenzLabel }}
                    </label>
                </div>
            </div>
        </div>
    </mat-card>

</div>

<eco-fab-speed-dial class="custom-fab-button">
    <eco-fab-speed-dial-trigger>
        <button mat-fab>
            <mat-icon>more_horiz</mat-icon>
        </button>
    </eco-fab-speed-dial-trigger>

    <eco-fab-speed-dial-actions>
        <button mat-mini-fab (click)="openSettingsDialog(false)" color="primary"
                matTooltip="{{ EINSTELLUNGEN_TOOLTIP }}">
            <mat-icon>settings</mat-icon>
        </button>
        <button mat-mini-fab color="primary"
                matTooltip="{{ SOURCE_CODE_TOOLTIP }}" (click)="openNewTab(SOURCE_CODE_URL)">
            <mat-icon>code</mat-icon>
        </button>
        <button mat-mini-fab color="primary"
                matTooltip="{{ ISSUES_TOOLTIP }}" (click)="openNewTab(ISSUES_URL)">
            <mat-icon>assignment_late</mat-icon>
        </button>
        <button mat-mini-fab color="primary"
                matTooltip="{{ E_MAIL_TOOLTIP }}" (click)="openMailTo()">
            <mat-icon>mail</mat-icon>
        </button>
        <button mat-mini-fab color="primary"
                matTooltip="{{ RELEASE_NOTES_TOOLTIP }}" (click)="openNewTab(RELEASE_NOTE_URL)">
            <mat-icon>notes</mat-icon>
        </button>
        <button mat-mini-fab color="primary"
                matTooltip="{{ WAS_WAERE_WENN_TOOLTIP }}" (click)="toggleWasWareWenn()">
            <mat-icon *ngIf="!isWasWaereWennActivated">add</mat-icon>
            <mat-icon *ngIf="isWasWaereWennActivated">remove</mat-icon>
        </button>
    </eco-fab-speed-dial-actions>
</eco-fab-speed-dial>
