<div fxLayout="row" fxLayoutGap="48px" fxLayoutAlign="center top">
    <!--    Sollarbeitszeit -->
    <mat-card class="mat-elevation-z20" style="width: 600px; padding: 36px">
        <h1 fxLayoutAlign="center" style="margin-bottom: 36px;">Information</h1>

        <p>
            Hallo SISOSIGN-Fans,
        </p>
        <p>
            danke, dass du SISOSIGN aktiv nutzt!
        </p>
        <p>
            Bisher wurde SISOSIGN bei Heroku.com gehostet, in einem kostenfreien Tarif. Da Heroku.com
            diesen Tarif aber leider Ende Oktober einstellt, muss SISOSIGN nun umziehen.
        </p>
        <p>
            Aber bange nicht lieber SISOSIGN-Fan, denn der Umzug ist bereits erfolgreich abgeschlossen.
            Ab jetzt und bis in die Unendlichkeit (und noch viel weiter) kannst du SISOSIGN
            unter der folgenden URL erreichen:
        </p>
        <a fxLayoutAlign="center" style="font-size: 1.6em" href="https://sisosign.de">sisosign.de</a>
        <p>
            Bitte aktualisiere deinen Bookmark für SISOSIGN, damit du zukünftig immer auf der richtigen Seite landest!
        </p>
        <p style="font-size: 1.2em">
            <b>Diese SISOSIGN-Instanz wird Ende Oktober abgeschaltet.</b>
        </p>

    </mat-card>

</div>

