.ml-h1 {
    font-weight: bold;
    font-size: 5em;
    margin: 32px 0 32px 0;
    color: whitesmoke;
    letter-spacing: 2px;
    text-shadow: 3px 4px 15px rgba(0, 0, 0, 0.8);
}

.ml-h4 {
    margin-top: 0;
    margin-bottom: 100px;
    color: whitesmoke;
    text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.6);
}

.fixed-footer-text {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100vw;
}