<div style="height: 96vh">
    <label fxLayoutAlign="center"
           class="mat-display-2"
           style="font-weight: bold;
           margin: 24px 0 12px 0;
           color: whitesmoke;
           letter-spacing: 2px;
           text-shadow: 3px 4px 15px rgba(0, 0, 0, 0.8);">
           Should I Stay Or Should I Go (now)
        </label>
    <label fxLayoutAlign="center"
           class="mat-h4"
           style="margin-top: 0; margin-bottom: 100px; color: whitesmoke">
           Created by: Moritz Lüdtke
        </label>

    <app-main-calc></app-main-calc>

    <!-- <div fxLayoutAlign="center end">
        <a class="mat-h4"
           style="font-size: 0.8em; position: absolute; bottom: 0px; color: orange"
           href="https://www.freepik.com">
            Designed by pikisuperstar / Freepik
        </a>
    </div> -->
</div>