<div [class.fade-off]="!appVersionService.isNewVersionPresent()">
    <div class="pyro">
        <div class="before"></div>
        <div class="after"></div>
    </div>
</div>

<div fxLayout="column">
    <div fxLayout="column" fxLayoutAlign="center center">
        <label class="mat-display-2 ml-h1" matTooltip="Should I Stay Or Should I Go (Now)">
            SISOSIGN
        </label>
        <label class="mat-h4 ml-h4">
            Created by: Moritz Lüdtke
        </label>
    </div>

    <app-main-calc></app-main-calc>

    <div class="fixed-footer">
        <label class="mat-h4 footer-text">
            v{{ appVersionService.getAppVersion() }}
        </label>
    </div>
</div>
