.ml-h1 {
    font-weight: bold;
    font-size: 5em;
    margin: 42px 0 32px 0;
    color: whitesmoke;
    letter-spacing: 2px;
    text-shadow: 3px 4px 15px rgba(0, 0, 0, 0.8);
}

.ml-h4 {
    margin-top: 0;
    margin-bottom: 95px;
    color: whitesmoke;
    text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.6);
}

.footer-text {
    color: whitesmoke;
    font-size: 20px;
    text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.6);
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 8px;
    text-align: center;
    width: 100vw;
}

.hover-link:hover {
    color: #63d4ff;
}