<div class="mat-typography">
    <h2 style="margin-bottom: 24px">
        Einstellungen
    </h2>

    <div [ngSwitch]="firstTime">
        <div *ngSwitchCase="true" fxLayout="column" fxLayoutGap="24px">
            <label>Bitte gib deine durchschnittliche tägliche Arbeitszeit und Pausenlänge an.</label>
            <div fxLayoutAlign="center">
                <button mat-raised-button color="accent" (click)="firstTime = false">Okay!</button>
            </div>
        </div>

        <div fxLayout="column" style="margin: 16px 16px 0 16px" *ngSwitchCase="false">
            <mat-form-field>
                <input matInput
                       type="time"
                       [(ngModel)]="taeglicheArbeitszeit"
                       (keyup.enter)="saveAndClose()"
                       style="font-size: 1.4em"
                       placeholder="Tägliche Arbeitszeit (hh:mm)">
            </mat-form-field>

            <mat-form-field>
                <input matInput
                       type="number"
                       [(ngModel)]="pausenlaenge"
                       (keyup.enter)="saveAndClose()"
                       style="font-size: 1.4em"
                       placeholder="Pausenlänge (in Min.)">
            </mat-form-field>

            <div fxLayoutAlign="center">
                <button mat-raised-button (click)="saveAndClose()"
                        [disabled]="isAnyInputInvalid()"
                        color="accent" style="margin-top: 12px;">
                    Speichern
                </button>
            </div>

            <label style="font-size: 12px; margin-top: 20px; color: darkgrey">
                <i>Deine Daten werden ausschließlich lokal im Browser gespeichert.</i>
            </label>
        </div>
    </div>
</div>

