/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "assets/styles/fireworks";
@import "assets/styles/roboto-font";
@import "assets/styles/material-icon-font";

body {
    margin: 0;
}

.mat-tooltip {
    font-size: .9em !important;
}

.custom-snack-bar-container {
    background: #673ab7;
    white-space: pre-wrap;
}

simple-snack-bar {
    padding: 6px;
    font-weight: bold;
    font-size: 1em !important;
}

.fade-off {
    opacity: 0;
    transition: .9s ease-in-out all;
}

label.mat-radio-label {
    white-space: normal;
    align-items: normal;
}

// START Flex
.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.center-horizontal {
    display: flex;
    justify-content: center;
}

.start-horizontal {
    display: flex;
    justify-content: flex-start;
}

.end-horizontal {
    display: flex;
    justify-content: flex-end;
}

.center-vertical {
    display: flex;
    align-items: center;
}

.start-vertical {
    display: flex;
    align-items: flex-start;
}

.end-vertical {
    display: flex;
    align-items: flex-end;
}

.gap-0px {
    display: flex;
    gap: 0;
}

.gap-6px {
    display: flex;
    gap: 6px;
}

.gap-8px {
    display: flex;
    gap: 8px;
}

.gap-12px {
    display: flex;
    gap: 12px;
}

.gap-14px {
    display: flex;
    gap: 14px;
}

.gap-16px {
    display: flex;
    gap: 16px;
}

.gap-18px {
    display: flex;
    gap: 18px;
}

.gap-24px {
    display: flex;
    gap: 24px;
}

.gap-32px {
    display: flex;
    gap: 32px;
}

.gap-48px {
    display: flex;
    gap: 48px;
}

// END Flex
